body{
    font-size: 20px;
    text-align: left;
    color: black;
    background-image:url(http://7-themes.com/data_images/out/8/6794735-free-universe-wallpaper.jpg);
    background-color: deepskyblue;
    
}

nav li {
    list-style-type: none;
	border-bottom: solid black 1px;
    text-align: right;
    font-size: 25px;
    margin-right: 3%;
    padding: 6px;
    
}

img {
    max-width: 100%;
}

.social li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    float: left;
    
}

h1{
    font-size: 60px;
    font-family: times,serif;
    text-shadow: 2px 2px 8px black;
    text-align: center;
}

h2{
    text-decoration: underline;
}

#about {
    border-bottom: solid 1px black;
    text-decoration: none;
}

p{
    font-family: fantasy;
    text-align:left;
}

aside {
    float: right;
    overflow: hidden;
    background-color: white;
    padding: 20px;
}

#website {
    overflow: hidden;
    text-align: center
    
}